{% extends 'blog/base.html' %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/blog.css' %}">



<!-- <div class="login1">
    {% if user.is_authenticated %}
      <h4> style="color:red;">Hi {{ user.username }}!</h4>
      <p><a href="{% url 'logout' %}">logout</a></p>
      <p><a href="{% url 'post_list' %}">Posts</a></p>
    {% else %}
      <p>You are not logged in</p>
      <!-- <a style= "display:block" , class="center-align", href="{% url 'login' %}">login</a>
      <p><a id="link" style= "display:block ; text-align: center;" class="" href="{% url 'login' %}">login</a></p>
    {% endif %}
</div> -->
<!-- <div class="login2">
      <p>Login</p>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <button type="submit" class={red}>Login</button> -->
        <!-- <input type="url" value="Home-Page" style="background-color: #336699; color: #ffffff;"> 
      </form>
</div> -->


{% block title %}Home{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <h1>Hi {{ user.username }}!</h1>
    
    <p><a href="{% url 'logout' %}">logout</a></p>
    <p><a href="{% url 'post_list' %}">Posts</a></p>
  {% else %}
    <p>You are not logged in</p>
     <a style= "display:block" , class="center-align", href="{% url 'login' %}">login</a> 
    <p><a style= "display:block" , class="center-align", href="{% url 'login' %}">login</a></p>

  {% endif %}

  <div class="login1">
    <h2>Login</h2>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <!-- <input type="url" value="Home-Page" style="background-color: #336699; color: #ffffff;">  -->
      </form> 
  </div>
    
{% endblock %}