{% extends 'blog/base.html' %}

{% block content %}  
<!--  -->
<form class= "form-inline my-5 my-lg-5">
        <nav>
            <div class="nav-wrapper">
            <form method="GET" action="">
                <div class="input-field">
                <input 
                class= "form-control mr-sn-2"
                id="id_q" 
                type="search" required
                placeholder="Search..."
                aria-label="Search"
                name="q"
                value="{{request.GET.search}}">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                </div>
            </form>
            </div>
        </nav>
</form>
{% if user.is_authenticated %}
<a style="margin-left:1030px; margin-top: -25px" href="{% url 'post_new' %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> 
{% endif %}    
<h3>Ajax Anlik Veri Çekme</h3>
    <p>
        <b>Değer : </b><span id="anlik">Bekleniyor...</span>
{% if posts %}
    {% for post in posts %}
            <div class="post">
                <div class="date">
                    <p>published: {{ post.published_date }}</p>
                    <!-- <h2><a href="">{{ post.title }}</a></h2> -->
                </div>
                <span id="posts">
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p style="text-align: justify" >{{ post.text|linebreaksbr }}</p>
                </span>
            </div>
        {% endfor %}
{% else %} 
        <div class="post">
            <div class="date">
                    <p>cannot be published</p>
            </div>
        </div>
{% endif %}
 
</p>

<script>
        $(function(){
            
            $.ajaxLoad = function(){
                //location.reload(false);
                $.ajax({
                type: "post",
                url: "/anlik/",
                data: {
                csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                dataType: "json",
                success: function(cevap){
                    if (cevap.anlik){
                        $("#anlik").html(cevap.anlik);
                        }
                    }
            });
        }
     
     // her 5sn'de bir veriyi çek
     setInterval('$.ajaxLoad()', 1000);
     
    });
</script>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.1.js"></script>