{% extends 'blog/base.html' %}

{% block content %}  
<!--  -->
<form class= "form-inline my-5 my-lg-5">
        <nav>
            <div class="nav-wrapper">
            <form method="get">
                <div class="input-field">
                <input 
                    class= "form-control mr-sn-2"
                    id="search" 
                    type="search" required
                    placeholder="Search"
                    aria-label="Search"
                    name="search"
                    value="{{request.GET.search}}">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                </div>
            </form>
            </div>
        </nav>
</form>
{% if user.is_authenticated %}
<a style="margin-left:1030px; margin-top: -25px" href="{% url 'post_new' %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> 
{% endif %}  
{% if post %}  
    {% for post in posts %}
            <div class="post">
                <div class="date">
                    <p>published: {{ post.published_date }}</p>
                    <!-- <h2><a href="">{{ post.title }}</a></h2> -->
                </div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p style="text-align: justify">{{ post.text|linebreaksbr }}</p>
            </div>
    {% endfor %}
{% else %}
    <div class="post">
        <div class="date">
                <p>cannot be pubished</p>
        </div>
    </div>
{% endblock %}
{% block x %}
{% endblock %}